/* body {
    margin: 0;
    background-color: rgb(255, 218, 224);
    text-align: center; 
} */

.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
    margin-right: 20px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: rgb(8, 38, 48);
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}

.nav-area li a:hover {
	background: rgba(51, 51, 51, 0.404);
	color: rgb(255, 255, 255);
}

section {
	margin-top: 90px;
}

div.page-divider {
	float: left;
	width:451px;
	height:406px;
	margin:10px;
}

div.page-divider-long
{
	float: middle;
	width:1900px;
	height:850px;
	margin-left:30px;
}
div.mainContent
{
	margin-left:700px;
}

header{
	margin-top:120px;
}


img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }